body {
    background-color: #555;
    font-family: sans-serif;
    color: #111;
}

h1 {
    text-align: center;
}

li {
    padding: 2px;
}

.sub-ul {
    padding: 10px 0;
}

a {
    font-weight: 600;
    color: #111;
}

a[href="index.php"] {
    text-decoration: none;
}

a:visited, a:link {
    color: #111;
}

section {
    margin: 0 30px;
}